:root {
  --bg-color: #393e46;
  --main-color: #f2f2f2;
  --sec-color: #d1cebd;
}
body {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}
.App {
  color: var(--main-color);
  font-family: sans-serif;
  text-align: center;
}

.App h1 {
  margin-top: 50px;
  margin-bottom: 0px;
}
.App h3 {
  font-size: 20px;
}

.App h5 {
  font-size: 15px;
  opacity: 0.7;
  margin-bottom: 30px;
}

.App .main {
  display: block;
  margin: 0 auto;
  border: 2px solid var(--bg-color);
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background: var(--bg-color);
}
